{% extends 'main.html'%}
{% block content%}
<div class="card mb-3">
    <div class="card-header">
          <i class="fas fa-table"></i>
        <b>Student Progress</b></div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th>Name</th>
                    <th>Subject</th>
                    
                    <th>Status</th>
                    <th></th>
                </tr>
              </thead>
              

             
            </table>
          </div>
    </div>
</div>


{% endblock%}